.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncb
*.log
*.DS_Store
.vscode/
packages/
# Rider
.idea/
*.iml
# NuGet
*.nupkg
# Build results
_build/

# Database
*.mdf
*.ldf

# Visual Studio cache
*.VC.db
